
body {
  background:rgba(0, 0, 0, 1.0);
  color:rgba(255, 255, 255, 1.0);
  font-family: bilo, sans-serif;
  font-size: 16px;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  font-family: bilo, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

#homepage {
  padding-top: 50px;
  position: absolute;
  top: 50%; /* adjust top position */
  left: 50%; /* adjust left position */
  transform: translate(-50%, -50%); /* center the title */
  text-align: center;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  padding: 10px 20px; /* adjust padding as needed */
}

.navbar {
    text-align: right;
}

/*style for buttons*/
.navbar a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
    transition: background-color 0.1s;
    font-family: bilo, sans-serif;
    font-weight: 800;
    font-style: normal;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navhomepage {
  padding-top: 650px;
  text-align: left;
}
.relative {
  max-width: 800px;
  margin: 0 auto; 
}

.container {
  position: relative;
  margin: 50px;
}
nav {
  position: absolute;
  left: 0px;
  width: 500px;
}
section {
  margin-left: 200px;
}
body {
  margin-bottom: 120px;
}

/*movies page*/
h2 {
  font-family: bilo, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 35px;
}

.movie_container {
  position: relative;
  margin: auto;
  width:900px;
}
.screenshot {
  display: inline-block;
  vertical-align: top;
  width: 18%;
  padding: 10px;
}

.screenshot img {
  width:auto;
  height: 200px;
  margin-right: 20px; 
}

.movie_number {
  color: #fff;
  background: #393939;
  width: 50px;
  height:35px;
  text-align: center;
  float: right;
  vertical-align: center;
  font-size: 24px;
  font-weight: 800;
  border-radius: 9px;
  padding: 10px;
  margin: 10px;
}

.info {
  float: left;
  font-size: 16px;
  font-weight: 800;
  border-radius: 9px;
  padding: 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
}





