
@font-face{
  ;font-family:TransformersFont;
  src:url(fonts/TransformersMovie.ttf);
}

body {
  background:rgba(0, 0, 0, 1.0);
  color:rgba(255, 255, 255, 1.0);
  font-family: bilo, sans-serif;
  font-size: 17px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}

h1 {
  font-family: bilo, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

h2 {
  font-family: bilo, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 5px;
}

h3 {
  font-family: bilo, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 30px;
  margin: 5px;
}

h4{
  font-family: bilo, sans-serif;
  font-weight: 700;
  font-style: normal; 
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

p {
  margin: 0px;
}

section {
  margin-left: 350px;
  max-width: 550px;
}

#homepage {
  position: fixed;
  padding-top: 650px;
  text-align: left;
  font-family: TransformersFont;
 }

/*navatation bar*/
.navigationbar /*bar itself*/ {
    text-align: right;
    margin-right: 50px;
    font-family: TransformersFont;
}

/* for the buttons */
.navigationbar a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
    transition: background-color 0.1s;
    font-weight: 800;
    font-style: normal;
    font-family: TransformersFont, sans-serif;
    font-size: 20px;
}

.navigationbar a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 1.0);
}

/*the changing image↓*/
* {
  box-sizing: border-box
}

.imageslides {
  display: none;
}

.image-slideshow {
  max-width: 1250px;
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.imagehomepage img {
  vertical-align: middle;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}
/*the changing images↑*/

/*movie page↓*/
.relative {
  max-width: 900px;
  margin: 0 auto; 
}

.container {
  position: relative;
  margin: 50px;
}

.movie_container {
  position: relative;
  margin: auto;
  max-width:900px;
}

.screenshot_container {
  display: inline-block;
  vertical-align: top;
  max-width: 850px;
  padding: 10px;
}

.screenshot_container img {
  max-width: 325px;
  height: auto;
}

.movie_number {
  color: rgba(255, 255, 255, 1.0);
  background: rgba(60, 60, 60, 1.0);
  width: 50px;
  height:50px;
  text-align: center;
  float: right;
  vertical-align: center;
  font-size: 24px;
  font-weight: 800;
  border-radius: 9px;
  padding: 10px;
  margin-right: 5px;
  margin-top: 2px;
}
.info_container {
  display: inline-block;
  vertical-align: top;
  align-content: left;
  padding-left: 10px;
}

.column {
  display: inline-block;
  vertical-align: top;
}
/*movie page↑*/

/*songs page*/

.box {
  float: left;
  width: 290px;
  height: 100px;
  border: solid, 2px;
  border-color: rgba(255, 255, 255, 1.0);
}
